<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ys.lib_persistence">
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <provider
            android:authorities="${applicationId}.sql"
            android:enabled="true"
            android:name=".keyValue.sql.KeyValueProvider"
            android:exported="true"/>

        <provider
            android:enabled="true"
            android:name=".keyValue.sp.RemoteSpProvider"
            android:authorities="${applicationId}.preferences"
            android:exported="true"/>
    </application>
</manifest>